<div class="choose">
  <p><h1>
  Choose an NFL team to view their 2015 season stats!
  </h1></p>
</div>

<div class="jumbotron" ng-controller="MainCtrl">

<p>Select an NFL Team:</p>

<div ng-repeat="conference in Teams.conferences" label="{{conference.name}}">
    <div ng-repeat="division in conference.divisions" label="{{division.name}}">
     
      <dl class="nfl-team-list">
        <li ng-repeat="team in division.teams"> <a ng-click="selectTeam(team.id)">{{team.name}}</a></li>
      </dl>
      </div> 


<p>
    <button class="btn btn-lg btn-primary" ng-click="team">Get 2015 Team Stats</button>
</p>

</div>
